.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--app-color);
  color: white;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}

.header__search {
  display: flex;
  flex: 0.4;
  background-color: lightslategray;
  text-align: center;
  border: 1px gray solid;
  border-radius: 6px;
}

.header__search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 41vw;
  &::placeholder {
    color: white;
  }
}

.header__right {
  display: flex;
  align-items: flex-end;
  flex: 0.3;
  button {
    background-color: #33475b !important;
    color: white;
    border-radius: 5px;
    margin-left: 80%;
    padding: 8px 30px;
    border-color: white;
  }
}

.header__right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}
