.journal {
  flex: 1;
  &__header {
    flex-grow: 1;
    text-align: center;
    color: white;
    background-color: #33475b;
    padding: 15.5px;
    border: 1px solid gray;
    h3 {
      margin-right: 225px;
    }
  }
}
