.message {
  display: flex;
  align-items: center;
  padding: 15px;
  > img {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    object-fit: contain;
  }
  &_info {
    padding-left: 10px;
  }
  &_timestamp {
    color: gray;
    font-weight: 300;
    font-size: 13px;
  }
}
