.resource {
  box-sizing: border-box;
  margin: 0;
  flex: 0.7;
  flex-grow: 1;
  &_header {
    display: flex;
    justify-content: center;
    background: #33475b;
    border: 1px solid gray;
    color: white;
    text-align: center;
    padding: 18px 0 18px;
    .h1 {
      display: inline;
      font-weight: 300;
    }
    .MuiSvgIcon-root {
      padding-right: 10px;
      padding-top: 5px;
    }
  }
}
