.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
  h6 {
    padding: 8px 0;
    margin-bottom: 0;
  }
}
.sidebarOption__icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebarOption__channel {
  padding: 15px 0 !important ;
  margin-bottom: 0 !important ;
}
.sidebarOption__hash {
  padding: 7px;
}

.sidebarOption > h3 {
  font-weight: 500;
}

.sidebarOption:hover {
  opacity: 0.9;
  background-color: #425b76;
}
