@import "variables.scss";

.sidebar {
  color: white;
  flex: 1.4;
  background-color: $primary;
  border-top: 1px solid gray;
  max-width: 280px;
  > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
  }
  a:hover {
    text-decoration: none;
  }
}

.sidebar__header {
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  padding: 13px;
  > .MuiSvgIcon-root {
    padding: 8px;
    color: gray;
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
  }
}
.sidebar__info {
  flex: 1;
  > h2 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  > h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;

    > .MuiSvgIcon-root {
      font-size: 14px;
      margin-top: 1px;
      margin-right: 2px;
      color: green;
    }
  }
}
