#projectNameTip {
  font-size: 15px;
  border-radius: 50px;
}

#languageTip {
  font-size: 15px;
  border-radius: 50px;
}

#errorTip {
  font-size: 15px;
  border-radius: 50px;
}

#solutionTip {
  font-size: 15px;
  border-radius: 50px;
}

#analyseInput {
  font-size: 15px;
  border-radius: 50px;
}
